<!DOCTYPE html>
<html>
{% extends "master.html" %}

<title>
{% block title %}
    My_club
{% endblock %}
</title>

<body>
{% block content %}
    <p><a href="/">HOME</a></p>
    <h1>Members</h1>
<ul>
    {% for x in mymembers %}
     <li><a href="details/{{x.id}}"> {{x.firstname}} {{x.lastname}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
</body>

</html>