
{% extends "master.html" %}


{% block title %}
 Details about{{mymember.firstname}} {{mymember.lastname}}
{% endblock %}



{% block content %}
<h1>{{mymember.firstname}} {{mymember.lastname}}</h1>
<p>phone: {{mymember.phone}}</p>
<p>Member since: {{mymember.joined_date}}</p>
<p>Back to <a href="/hello">Members</a></p>
{% endblock% %}